                                                NLP Pre-Processing

Things done - Data Extraction,
Data Cleaning, Data Transformation, Data Loading.

In [49]:
import pandas as pd

In [50]:
import re

In [53]:
#setting up or loading csv file into python environment.
file_name= r'D:\NikhilData\Desktop\Webpages\Python Practice\Customer Review Insights Project\Project\data\Dataset-SA.csv'
df = pd.read_csv(file_name) 
df.shape

(205052, 6)

In [54]:
# Displaying top values from csv file.
df.head()

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral

In [55]:
# Just for understanding purpose. 
df['Sentiment']

0         positive
1         positive
2         positive
3         negative
4          neutral
            ...
205047    positive
205048    positive
205049    positive
205050    positive
205051     neutral
Name: Sentiment, Length: 205052, dtype: object

In [56]:
# Displaying How the structure of csv file looks / contains size i.e., no_of_rows, number of columns present in dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205052 entries, 0 to 205051
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   product_name   205052 non-null  object
 1   product_price  205052 non-null  object
 2   Rate           205052 non-null  object
 3   Review         180388 non-null  object
 4   Summary        205041 non-null  object
 5   Sentiment      205052 non-null  object
dtypes: object(6)
memory usage: 9.4+ MB

In [57]:
#Converting the datatype of Review column - String / object. And replacing or removing special \
# characters in Review column.
df['Review'].astype(str)
df['Review'] = df['Review'].str.replace(r'[!,@,#]','',regex=True)
df.head(20)

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
5,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,the cooler is really fantastic and provides go...,positive
6,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,highly recommended,very good product,positive
7,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,nice,very nice,positive
8,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,unsatisfactory,very bad cooler,negative
9,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,4,worth the money,very good,positive
10,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,great product,beautiful product good material and perfectly ...,positive
11,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,mind-blowing purchase,awesome,positive
12,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,highly recommended,good,positive
13,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,brilliant,wonderful product must buy,positive
14,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,classy product,nice air cooler smart cool breeze producer,positive
15,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,must buy,awsm,positive
16,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,fabulous,nice product,positive
17,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,worth every penny,great cooler,positive
18,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,super,nice product,positive
19,Candes 60 L Room/Personal Air Cooler??????(Whi...,8999,5,great product,good,positive

In [58]:
# Converting the review column values to lower-case.
df['Review'] = df['Review'].str.lower()
df['Review']

0                   super
1                 awesome
2                    fair
3         useless product
4                    fair
               ...
205047           must buy
205048              super
205049               nice
205050           just wow
205051    value-for-money
Name: Review, Length: 205052, dtype: object

In [59]:
# Checking if there is any null or Nam values present in dataset. if present print count number of rows
missing_val = df.isnull().sum()
missing_val

product_name         0
product_price        0
Rate                 0
Review           24664
Summary             11
Sentiment            0
dtype: int64

In [ ]:
# Display or print whole dataset which contains null or Nan values.
rows_with_null = df[df.isnull().any(axis=1)]
rows_with_null

,product_name,product_price,Rate,Review,Summary,Sentiment
11037,SportSoul Cotton Gym & Athletic Abdomen Suppor...,249,4,good choice,NaN,positive
28417,Lakm?? Eyeconic Kajal Twin Pack??????(Deep Bla...,218,5,perfect product,NaN,positive
36859,Adrenex by Flipkart Big Bang 6 inch x 26.5 inc...,989,5,great product,NaN,positive
39838,cello ColourUp Hobby Bag of Assorted Stationer...,449,5,perfect product,NaN,positive
40502,cello ColourUp Hobby Bag of Assorted Stationer...,449,4,good choice,NaN,positive
...,...,...,...,...,...,...
113341,Men 9325 Latest Collection Stylish Sports Snea...,299,5,NaN,nice,positive
113342,Men 9325 Latest Collection Stylish Sports Snea...,299,5,NaN,nice product,positive
113343,Men 9325 Latest Collection Stylish Sports Snea...,299,3,NaN,nice,positive
113344,Men 9325 Latest Collection Stylish Sports Snea...,299,1,NaN,very worst product,negative
132139,BAJAJ 15 L Storage Water Geyser (Popular Plus ...,5499,4,good quality product,NaN,neutral

In [61]:
df['Rate'].value_counts()

Rate
5                                                                    118765
4                                                                     41894
1                                                                     21300
3                                                                     16599
2                                                                      6491
Pigeon Favourite Electric Kettle??????(1.5 L, Silver, Black)              1
Bajaj DX 2 L/W Dry Iron                                                   1
Nova Plus Amaze NI 10 1100 W Dry Iron?ÃÂ¿?ÃÂ¿(Grey & Turquoise)         1
Name: count, dtype: int64

In [62]:
df = df[(df.Rate !='Pigeon Favourite Electric Kettle??????(1.5 L, Silver, Black)') & (df.Rate != "Bajaj DX 2 L/W Dry Iron") & (df.Rate !='Nova Plus Amaze NI 10 1100 W Dry Iron?ÃÂ¿?ÃÂ¿(Grey & Turquoise)')]

In [63]:
df['Rate'].value_counts()

Rate
5    118765
4     41894
1     21300
3     16599
2      6491
Name: count, dtype: int64

In [64]:
# Print the Review Column values which contains null or Nan.
null_values = df['Review'][df['Review'].isnull()]
null_values

41625     NaN
41626     NaN
41627     NaN
41628     NaN
41629     NaN
         ...
113340    NaN
113341    NaN
113342    NaN
113343    NaN
113344    NaN
Name: Review, Length: 24664, dtype: object

In [65]:
# Deleting the whole null / Nan values from dataset. For structured Dataset.
df = df.dropna()
df

,product_name,product_price,Rate,Review,Summary,Sentiment
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super,great cooler excellent air flow and for this p...,positive
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral
...,...,...,...,...,...,...
205047,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,must buy,good product,positive
205048,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,super,nice,positive
205049,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,3,nice,very nice and fast delivery,positive
205050,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,just wow,awesome product,positive
205051,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,4,value-for-money,very good but mixing bowl not included is one ...,neutral

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180376 entries, 0 to 205051
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   product_name   180376 non-null  object
 1   product_price  180376 non-null  object
 2   Rate           180376 non-null  object
 3   Review         180376 non-null  object
 4   Summary        180376 non-null  object
 5   Sentiment      180376 non-null  object
dtypes: object(6)
memory usage: 9.6+ MB

In [67]:
df.describe()

,product_name,product_price,Rate,Review,Summary,Sentiment
count,180376,180376,180376,180376,180376,180376
unique,841,476,5,1288,85303,3
top,cello Pack of 18 Opalware Cello Dazzle Lush Fi...,1299,5,wonderful,good,positive
freq,6005,9150,105641,9014,15146,147169

In [ ]:
# Converting the whole dataframe of dataset to csv file under Project\Data\.
output_file = r'D:\NikhilData\Desktop\Webpages\Python Practice\Customer Review Insights Project\Project\data\Processed_Dataset.csv'
final_processed_data = df.to_csv(output_file,index=False)
path_to = 'Customer Review Insights Project -> Project -> data -> Processed_Dataset.csv'
print('The Transformed data is stored at : ',path_to)

The Transformed data is stored at :  Customer Review Insights Project -> Project -> data -> Dataset-SA.csv